* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.main-header {
    background-color: dodgerblue;
}

.nav ul {
    font-size: 20px;
}

.nav li {
    display: inline;
}

.nav a {
    padding: 4.5px;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px dashed rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    color:black;
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid black;
}

.hero {
    height: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    background-image: url("https://i.redd.it/4nxq9q7mk7r11.png");
    background-size: cover;
    background-position: bottom;
}

.myname {
    text-align: center;
    font-size: 4em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white
}

#aboutme {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 250px;
    background-color: dodgerblue;
    padding: 10px 75px;
    width: 79%;
}

.intro {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 30px;
}

.intro-p {
    font-size: 20px;
}

.biopic {
    width: 150px;
    position: relative;
    left: 350px;
    border-radius: 50%;
}

#work {
    display:flex;
    flex: 0 1 200px;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    left: 400px;
    margin-top: 100px;
    margin-bottom: 200px;
    background-color: dodgerblue;
    padding: 400px 200px;
    width: 79%;
}

.projects {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 30px;
}

.projectpic {
    position: relative;
    left: 1250px;
    bottom: 200px;
    width: 900px;
    height: 400px;
    border: 10px lightblue solid;
    padding: 250px 400px;
    background-image: url("https://www.techrepublic.com/a/hub/i/r/2021/02/17/3c192f18-47eb-428a-b64f-ba57fcd3c36a/resize/1200x/03e226ca44cdd6509c01aaaa6ffa0095/programming-coding.jpg" );
    background-size: cover;
    background-position: center;
}

.projectpic:hover {
    background-blend-mode:luminosity;
}

.projecttext {
    position: relative;
    left: 1250px;
    top: 10px;
    padding: 5px;
    width: 200px;
    height: 50px;
    color: black;
    background-color: lightblue;
    text-align: center;

}

.button {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 200px;
    top: 300px;
    border: 5px lightblue solid;
    padding: 100px 150px;
    text-decoration: none;
    margin: 0px 20px;
    cursor: pointer;
}

.button:hover {
    background-blend-mode:color-burn;
    transition-duration: 1s;
}

.button1 {
    background-image: url(https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2017Q2/project-planning-header@2x.png);
    background-size: cover;
    background-position: center;
    
}

.button2 {
    background-image: url(https://s27389.pcdn.co/wp-content/uploads/2021/04/12-steps-towards-secure-project-management-framework.jpeg);
    background-size: cover;
    background-position: center;
}

.button3 {
    background-image: url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbestechcouncil%2Ffiles%2F2019%2F01%2Fcanva-photo-editor-8-7.jpg);
    background-size: cover;
    background-position: center;
}

.button4 {
    background-image: url(https://edsurge.imgix.net/uploads/post/image/12176/coding-1556754232.jpg?auto=compress%2Cformat&w=1024&h=512&fit=crop);
    background-size: cover;
    background-position: center;
}




@media screen and (max-width: 992px) {
    :root {
        --size-divisor: 1;
    }
    #work {
        width: 75%;
    }
}


@media screen and (max-width: 768px) {
    :root {
        --size-divisor: 1.5;
    }
    #work {
        width: 50%;
    }
}


@media screen and (max-width: 576px) {
    :root {
        --size-divisor: 2;
    }
    #work {
        width: 25%;
    }
}