* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header {
    background-color: dodgerblue;
}

.nav ul {
    font-size: 20px;
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px dashed rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://i.redd.it/4nxq9q7mk7r11.png");
    background-size: cover;
    background-position: center;
}

.myname {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white
}